// @tailwind base;
// @tailwind components;
// @tailwind utilities;

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  background-color: var(--background-color);

  --primary-color: #2f3c7e;
  --background-color: #fbeaeb;
  --text-color-primary: #ffffff;
  --text-color-secondary: #535665;
  --text-color-secondary-dark: #2e2e2f;
  --text-color-secondary-light: #c5c5ca;
  --secondary-background: #dcdcdc;
  --text-color-success-primary: #60b246;
  --text-font-family: "Roboto Mono", monospace;
}
