.restaurant-details-container {
  width: 100%;
  color: var(--primary-color);

  &__main {
    display: flex;
    justify-content: space-between;
    margin: 0 5px 0 5px;
    &__name {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__rating {
      width: 100%;
      border: 1px solid #e9e9eb;
      box-shadow: 0 1px 5px #f9f9f9;
      border-radius: 6px;
      text-align: center;
      max-width: 100px;
      float: right;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      &__star {
        width: 100%;
        margin-top: 2px;
        border-bottom: 1px solid white;
        justify-content: center;
        display: flex;

        &__icon {
          margin-right: 5px;
        }
      }
    }
  }
}
