@mixin card-text-style {
  font-family: "Basis Grotesque Pro";
  font-size: 18px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: 0.5px;
  width: 100%;
}

@mixin text-overflow-style {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 420px;
  width: 350px;
  margin: 15px;
  cursor: pointer;
  border: 0.5px solid rgb(249, 248, 248);
  box-shadow: 5px 10px 8px 10px #efeeee;
  border-radius: 12%;
  background-color: white;

  &__image {
    height: 250px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      border-radius: 15%;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;

    &__name {
      font-family: "Basis Grotesque Pro";
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.5px;
      color: rgba(2, 6, 12, 0.75);
      overflow: hidden;
      width: 100%;
      margin-bottom: 12px;
      @include text-overflow-style();
    }

    &__rating {
      width: 100%;
      display: flex;
      margin-bottom: 12px;
      &__text {
        font-family: "Basis Grotesque Pro";
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        color: black;
      }

      &__star {
        margin-right: 5px;
      }
    }

    &__menu {
      width: 100%;
      display: flex;
      flex-direction: column;

      &__items {
        @include card-text-style();
        @include text-overflow-style();
        color: var(--text-color-secondary);
        margin-bottom: 8px;
      }

      &__addr {
        @include card-text-style();
        color: var(--text-color-secondary-dark);
        font-weight: 400;
      }
    }
  }
}

.restaurant-main-container :hover {
  transform: scale(0.95, 0.95);
  transform-origin: center center;
  transition: all 0.1s ease-in 0s;
}
