.search-card-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px !important;
  background-color: var(--text-color-primary);
  width: 450px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;

  &__img-container {
    width: 100px;
    height: 100px;
    margin: 0 10px 0 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__details-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 100px;
    justify-content: space-evenly;

    &__rating {
      display: flex;
      align-items: center;

      &__icon {
        display: flex;
        margin-right: 2px;
      }
    }

    &__menu {
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
